{{extend 'layout.html'}}
{{from datetime import timedelta, date}}
<h2>
    {{=name}}
</h2>

<hr/>
<table class="table center">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>In<br/>(AM)</th>
            <th>Out<br/>(AM)</th>
            <th>In<br/>(PM)</th>
            <th>Out<br/>(PM)</th>
            <th>Late<br/>(Minutes)</th>
            <th>Undertime<br/>(Minutes)</th>
            <th>Absent<br/>(Days)</th>
            <th>On-Field<br/>(Yes/No)</th>
        </tr>
    </thead>
    <tbody>
        {{for (_index, _date) in enumerate(_dates):}}
            <tr>
                <!-- Display all fields -->
                {{for i in range(len(_complete_day_log[_index])):}}
                        <td id="{{='_field_' + str(_index) + '_' + str(i)}}">{{='' if i==5 and _complete_day_log[_index][7]==1 else _complete_day_log[_index][i]}}</td>{{pass}}
                {{pass}}
            </tr>
    </tbody>
</table>

<script>
$('._field_check_box').on('click', (evt) => {
    _id = evt.target.id
    _id_elements = _id.split('_')
    _num_elements = _id_elements.length
    _row_number = _id_elements[_num_elements - 1]

    _check_state = evt.target.checked

    console.log(_check_state)
})
</script>